APP_ENV=development
APP_PORT=8080
DATABASE_URL=postgresql://postgres:bccfreepassbe2025@db.uwxygknrqplftnlqpedw.supabase.co:5432/postgres
JWT_SECRET=NqSMRHkTq5/O9GWQiX8AeP/UvByLS7Bh3nWuBOv9aw0pE7FNebAdZ+vhjsnJb8Ek+krRtMpt+v0b/Vy2gXCbvg==
